<div class="container">
    <h3 class="text-white mt-3">Budget of {{_title}}</h3>
    <form class="row">
        <div class="form-group col-md-4">
            <label for="firstName">First Name</label>
            <input type="number" class="form-control" id="firstName" placeholder="Enter Budget" required>
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">Last Name</label>
            <input type="number" class="form-control" id="lastName" placeholder="Enter Saving" required>
        </div>
        <div class="col-md-3">
            <button class="btn mt-4 w-50 btn-primary btn-sm">Save Budget</button>
        </div>
    </form>
</div>