<app-month-bar (monthYearChange)="onMonthYearChange($event)" />

<div class="wrapper container mt-5">
  <div class="d-flex justify-content-between">
    <div>
      <h3 class="text-white">{{ title }}</h3>
    </div>
    <div>
      <button
        (click)="isCardView = false"
        [ngClass]="{ active: !isCardView }"
        class="btn btn-primary"
      >
        <i class="bi bi-list-stars"></i>
      </button>
      <button
        (click)="isCardView = true"
        [ngClass]="{ active: isCardView }"
        class="m-xl-2 btn btn-primary"
      >
        <i class="bi bi-card-list"></i>
      </button>
    </div>
  </div>
  <div class="row mt-2" *ngIf="expenses.length; else noExpense">
    <div *ngFor="let expense of expenses" [ngClass]="{ 'col-md-3': isCardView, 'col-md-9': !isCardView, 'mt-3': !isCardView }">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
<ng-template #noExpense>
    <hr class="border-line"/>
    <h2 class="text-white text-center">No Expense Found!</h2>
    <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/no-expense.png" width="400" height="250" />
    </div>
</ng-template>
</div>
