<app-month-bar (monthYearChange)="onMonthYearChange($event)" />

<div class="wrapper container mt-4">
  <div class="d-flex justify-content-between">
    <div>
      <h3 class="text-white">{{ title }}</h3>
    </div>
    <div>
      <button (click)="isCardView = false" [ngClass]="{ active: !isCardView }" class="btn btn-primary">
        <i class="bi bi-list-stars"></i>
      </button>
      <button (click)="isCardView = true" [ngClass]="{ active: isCardView }" class="m-xl-2 btn btn-primary">
        <i class="bi bi-card-list"></i>
      </button>
    </div>
  </div>
  <div class="alert alert-light d-flex justify-content-evenly">
    <div>
      <b>Budget:</b> {{transactionProgress.budget | currency: 'PKR'}}
    </div>
    <div>
      <b>Expend:</b> {{transactionProgress.expend | currency: 'PKR'}}
    </div>
    <div>
      <b>Remaining Cost:</b> {{transactionProgress.remain | currency: 'PKR'}}
    </div>
    <div>
      <b>Savings:</b> {{transactionProgress.saving | currency: 'PKR'}}
    </div>
  </div>

  <div class="row mt-2 vertical-scroll" *ngIf="expenses.length; else noExpense">
    <div *ngFor="let expense of expenses" class="mt-3" [ngClass]="{ 'col-md-4': isCardView, 'col-md-12': !isCardView}">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">{{expense.title | titlecase}}</h5>
            <div>
              <span class="chip">{{expense.category_id.category_name | uppercase}}</span>
              <button class="delete-btn btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmationDialog">
                <i class="text-white bi bi-trash"></i>
              </button>
            </div>
          </div>
          <p class="card-text" [ngClass]="{'ellipsis': isCardView}">{{expense.description}}</p>
          <div class="d-flex justify-content-between">
            <ng-container>
              <p class="card-text">Expend: {{expense.expend | currency: 'PKR' }}</p>
              <p class="card-text">Expend Date: {{expense.date | date: 'MMM/dd/YYYY' }}</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="border-line" *ngIf="expenses.length"/>

  <ng-template #noExpense>
    <hr class="border-line" />
    <h2 class="text-white text-center">No Expense Found!</h2>
    <div class="d-flex justify-content-center align-items-center">
      <img src="assets/images/no-expense.png" width="400" height="250" />
    </div>
  </ng-template>
</div>

<div class="modal fade" id="confirmationDialog" tabindex="-1" role="dialog" aria-labelledby="confirmationDialogLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="confirmationDialogLabel">Warning!</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this expense?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>