@font-face {
  font-family: "Bootstrap Icons";
  src: url("node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2")
      format("woff2"),
    url("node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/images/bg.jpg"); /* Path relative to `src/assets` */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  margin: 0;
  padding: 0;
}

.btn-primary {
  border-color: #ed1f3b !important;
  background-color: #ed1f3b !important;
}

.theme-color {
  color: #ed1f3b !important;
}
