<div
  class="container-fluid vh-100 d-flex justify-content-center align-items-center"
>
  <div class="card shadow-sm p-4 border-0 rounded" style="width: 350px">
    <h4 class="text-center mb-4">Login</h4>
    <div class="form-group mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        [(ngModel)]="loginData.email"
        class="form-control form-control-lg"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        [(ngModel)]="loginData.password"
        class="form-control form-control-lg"
        placeholder="Password"
      />
    </div>
    <button
      type="button"
      (click)="login()"
      [disabled]="!loginData.password || !loginData.email"
      class="btn btn-primary w-100 btn-lg"
    >
      Login
    </button>
    <div class="form-check mt-3">
      <a class="form-check-label" routerLink="/register"
        >Don't have an account! Sign up</a
      >
    </div>
  </div>
</div>
